# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# builds
build/
dist/

# react native
android/.gradle/
android/build/
android/app/build/
ios/build/

# metro / bundler
.metro-cache/

# misc
.DS_Store
.env.local
.env.*.local

.turbo
